.Number {
  font-size: 4vmax;
  width: 33.33%;
  text-shadow: 0.1rem 0.1rem black;
}

.Number:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.Number-inactive {
  pointer-events: none;
  opacity: 0;
  transition: 1s ease;
}
