.Number {
  display: inline-block;
  font-size: 3rem;
  margin: 1rem 1.5rem;
  text-shadow: 0.1rem 0.1rem black;
}

.Number:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.Number-inactive {
  pointer-events: none;
  opacity: 0;
  transition: 1s ease;
}
