.Books-content::before {
  background-image: url("./separator-alt.png");
  background-repeat: repeat-x;
  content: "";
  position: absolute;
  margin-top: -315px;
  height: 415px;
  width: 100%;
  z-index: -1;
}

.Books-content {
  background-color: #80bbdc;
  margin-top: 155px;
  background-position: bottom center;
  background-size: auto 800px;
  background-repeat: repeat-x;
  padding-bottom: 37rem;
}

.Book-img,
.Book-title {
  margin: 2rem 0;
}

.Book-img {
  box-shadow: 0px 0px 30px rgb(0, 0, 0, 0.5);
}

.Book-title {
  color: #1c597c;
  font-size: 5rem;
  letter-spacing: 0.1rem;
  line-height: 1;
  font-family: "Londrina Solid", cursive;
}

.Book-info {
  font-size: 1.2rem;
  list-style: none;
}

.Book-description {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.Book-links {
  opacity: 0;
  margin-top: -40px;
  list-style: none;
  padding: 0;
  font-family: "Balsamiq Sans", cursive;
}

.Book-links a {
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.Book-links a:hover {
  text-decoration: none;
  color: #1c597c;
  text-shadow: none;
}

.show-links {
  opacity: 1;
  transform: translateY(20px);
  transition: transform 0.2s ease-in-out;
}
