.Home {
  margin-top: 2rem;
}

.Home-header {
}

.Home-content::before {
  background-image: url("./separator.png");
  background-repeat: repeat-x;
  content: "";
  position: absolute;
  margin-top: -415px;
  height: 415px;
  width: 100%;
  z-index: -1;
}

.Home-content {
  background-color: #80bbdc;
  background-image: url("./zowen-characters.png");
  background-position: bottom center;
  background-size: auto 600px;
  background-repeat: repeat-x;
  padding-bottom: 30rem;
}

.Home-footer {
  background-color: #d3c5c6;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.9rem;
  padding: 1rem;
  padding-left: 5rem;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  animation: pop 0.5s;
  text-align: center;
}

.title h1 {
  color: #000;
  font-size: 4rem;
}

.title p {
  color: #c5243a;
  font-size: 5.5rem;
  font-family: "Bowlby One SC", cursive;
  text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.8);
}

.zowen-img {
  height: 400px;
}

.zowen-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes pop {
  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
