.Home {
  margin-top: 2rem;
}

.Home-header {
  margin-bottom: 9rem;
}

.Home-content::before {
  background-image: url("./separator.png");
  background-repeat: repeat-x;
  content: "";
  position: absolute;
  margin-top: -315px;
  height: 415px;
  width: 100%;
  z-index: -1;
}

.Home-content {
  background-color: #80bbdc;
  background-image: url("./zowen-characters.png");
  background-position: bottom center;
  background-size: auto 800px;
  background-repeat: repeat-x;
  padding-bottom: 37rem;
}

.Home-footer {
  background-color: #d3c5c6;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: rgba(0, 0, 0, 0.8);
  font-size: 5rem;
  animation: pop 0.5s;
  text-align: center;
  font-family: "Londrina Solid", cursive;
  text-shadow: 0 5px 3px rgba(0, 0, 0, 0.15);
}

.title p {
  color: #c5243a;
  font-size: 7.5rem;
  margin: -15px;
  margin-top: -30px;
}

.zowen-img {
  height: 390px;
}

.zowen-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes pop {
  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
