.Activities {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.Activity-preview {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: white;
  margin: 1rem;
}

.Activity-link {
  margin-bottom: 4rem;
}
