.Activities {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Activity-preview {
  background-color: #3072a8;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  z-index: 20;
}

.character-preview {
  height: 250px;
  width: auto;
}

.game-preview {
  border: 1rem solid #6c3740;
  background-color: #347369;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}

.game-preview-number {
  font-size: 7rem;
  text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.7);
  font-family: "Love Ya Like A Sister", cursive;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .Activities {
    margin-top: 4rem;
  }
}
