body {
  color: #fff;
  background-color: #f3f3f3;
}

button:focus {
  outline: none;
}

.App {
  overflow: hidden;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  font-family: "Chelsea Market", cursive;
}

.navbar {
  text-align: center;
}

.navbar-toggler {
  border: none;
  padding: 0;
}

.navbar-brand {
  color: rgba(0, 0, 0, 0.7) !important;
  font-size: 2.6rem;
  font-family: "Londrina Solid", cursive;
}

.navbar-brand span {
  color: #c5243a;
}

.nav-link {
  color: rgba(0, 0, 0, 0.8) !important;
  font-size: 1.6rem;
  letter-spacing: 0.07rem;
  display: block;
  padding: 0.5rem 1rem;
}

.nav-link:hover,
.active {
  color: #c5243a !important;
}

.page-header {
  color: rgba(0, 0, 0, 0.8);
  font-size: 6.5rem;
  animation: pop 0.5s;
  text-align: center;
  font-family: "Londrina Solid", cursive;
  text-shadow: 0 5px 3px rgba(0, 0, 0, 0.15);
  line-height: 0.9;
}

.page-header span,
.page-header p {
  color: #c5243a;
  line-height: 0.9;
}

.page-title {
  margin: 3rem auto;
}
