body {
  color: white;
  font-size: 20px;
  background-color: skyblue;
  font-family: "Balsamiq Sans", cursive;
}

.App {
  overflow: hidden;
}

button:focus {
  outline: none;
}

.navbar {
  text-align: center;
}

.navbar-toggler {
  border: none;
  padding: 0;
}

.nav-link,
.navbar-brand {
  color: white !important;
  font-size: 1.3rem;
  display: block;
  padding: 0.5rem 1rem;
}

.nav-link:hover,
.active {
  color: red !important;
}

.page-title {
  margin: 3rem auto;
}
