.Error {
  margin-top: 5rem;
  text-align: center;
}

.Error h1 {
  color: #c5243a;
  font-size: 8rem;
  letter-spacing: 0.1rem;
  line-height: 1;
  margin-bottom: 1rem;
  font-family: "Londrina Solid", cursive;
}

.Error h2 {
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.5);
}
