.App {
  text-align: center;
}

body {
  color: white;
  background-color: lightskyblue;
  font-family: "Balsamiq Sans", cursive;
}

button:focus {
  outline: none;
}

.navbar-toggler {
  border: none;
  padding: 0;
}

.nav-link,
.navbar-brand {
  color: white !important;
  font-size: 1.3rem;
}

.nav-link:hover,
.active {
  color: red !important;
  transform: scale(1.2);
}
