.page-header {
  color: rgba(0, 0, 0, 0.8);
  font-size: 5rem;
  animation: pop 0.5s;
  text-align: center;
  font-family: "Londrina Solid", cursive;
  text-shadow: 0 5px 3px rgba(0, 0, 0, 0.15);
}

.page-header span {
  color: #c5243a;
}
