.Showcase {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Showcase-book {
  max-width: 60%;
  box-shadow: 0px 0px 30px rgb(0, 0, 0, 0.5);
}

.Showcase-description {
  text-align: center;
  margin: 1rem 2rem;
}
